body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.welcome {
  background-color: transparent;
  background-image: url("img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.navigation-list {
  list-style: none;
}

.navigation:hover,
.navigation:focus {
  background-color: #95cfff;
}


h1 {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  text-align: center;
}

.advantages {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  text-align: center;
}

.question {
  font-family: PTSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.search {
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
